language: python
python:
  - "3.8"
  - "3.9"
# command to install dependencies
install:
  - pip install pytest
  - pip install pytest-cov
  - pip install coveralls
# command to run tests
script:
  - pytest --cov=CreditCardValidator 
   
after_success:
  - coveralls