language: python
python:
  - "3.8"
  - "3.9"
# command to install dependencies
install:
  - pip install pytest
  - pip install pytest-cov
  - pip install coveralls
# command to run tests
script:
  - coverage run --source=test_CreditCardValidation -m test_CreditCardValidation
   
after_success:
  - coveralls